div{
    text-align: center;
}

    
ul{
    width: 520px;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
li{
    float: left;
    border-right: 1px solid blue;
}
a{
    display: block;
    padding: 0 28px;
    color: white;
    text-decoration: none;
}
a:hover, .active a{
    background-color: blue;
}


img{
    width: 1000px;
    height: 500px;
}
#slider{
    width: 1000px;
    height: 250px;
    margin: 50px auto;
    position: relative;
    border: 10px solid white; 
    box-shadow: 0px 0px 15px 12px #ccc ;
}
button{
    padding: 20px;
    border: none;
    background: #37f;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 90%;
    cursor: pointer;
}
.next{
    border-radius: 10px 0px 0px 10px;
    margin-left: 950px;
}
.prev{
    border-radius: 0px 10px 10px 0px;
}
.gotop{
    position: relative;
    width: 50px;
    height: 50px;
    background: #27ae60;
    top:  50px;
    left:1000px;
}















